*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
      margin: auto;
      width: 80%;
      text-align: center;
  }
  /* fine generiche */
  /* ridimensionamento immagini */
  .piccolo {
    width: auto;
    height: 400px;
  }
  /* fine ridimensionamento immagini */
  /* immagini in griglia */
  .dimensione{
      position: relative;
      display: inline-block;
      height: 450;
  }
  /* fine immagini in griglia */
  /* bannerini */
  .sconto{
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: red;
      bottom: 80px;
      text-align: center;
      line-height: 50px;
      color: white;
      z-index: 10;
  }
  .sostenibilita{
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: blue;
    bottom: 80px;
    left: 100px;
    text-align: center;
    line-height: 50px;
    color: white;
    z-index: 10;

  }
  .preferito{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    top: 80px;
    right: 0px;
    text-align: center;
    line-height: 50px;
    z-index: 10;

  }
/* fine bannerini */
.magia{
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;

}
.dimensione:hover .magia{
    visibility: visible;
    z-index: 5;
}